.center {
text-align: center;
padding: 4px;
margin: 5px;
background-color: grey;
}

.color {
    background-color: paleturquoise;
}

.color1 {
    background-color: whitesmoke;
}

.p {
    font-weight: bold;
}

.center1 {
    padding: 0;
    text-align: center;
    font
}